spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5555/student_management
    username: postgres
    password: password

server:
  port: 9000

jpa:
    hibernate:
        ddl-auto: validate
    properties:
        hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
            format_sql: true
            show_sql: true
            use_sql_comments: true

cors:
    allowed-origins: "http://localhost:3000"
    allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
    allowed-headers: "*"
    allow-credentials: true